@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

$font-base: 'Open Sans', sans-serif;
$color-primary: #fff;
$text-primary: #333;
$text-secondary: #a8b8c4;
$text-tertiary: #a6b0b7;
$brand-primary: #007ee5;
$line-primary: #d0dce7;

$bg-content: #f5f8f9;